/* Pages */
html{
  font-family: cursive;
}
.body_style{
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #5661a4, #cce3ff);
}
.form_page{
  padding: 2rem 1rem;
  text-align: center;
}
.inner_page{

}






/* Widgets specific styles */
.input_entry{
  margin: 0.5rem auto;
  width: 100%;
  max-width: 20rem;
  display: block;
}
.checkbox_label_wrap{
  cursor: pointer;
}
.checkbox_label{
  display: inline-block;
  margin-left: 0.5rem;
}
.button{
  background: linear-gradient(45deg, #cdd0e7, #f6faff);
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  width: 90%;
  max-width: 17rem;
  margin: 2rem auto;
  user-select: none;
  box-shadow: #0000008a 0.4rem 0.4rem 0.4rem;
}
.button:hover{
  background: linear-gradient(45deg, #babdd3, #dfe3e8);
}
.button:active{
  background: linear-gradient(45deg, #a8aabe, #b2b6bb);
}










/* Specific generic styles */
.title{
  font-size: 2rem;
  background-color: rgba(0,0,0,0.1);
  color: #2e4186;
  padding: 0.5rem;
}
.version{
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  margin-right: 1rem;
  font-size: 0.8rem;
  opacity: 0.8;
  font-family: monospace;
}
.travel_gif{
  margin-bottom: 1rem;
}
.inline_with_link_text{
  margin-top: 1rem;
  display: inline-block;
}
.inline_link_label{
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid blue;
  color: blue;
  margin-left: 0.5rem;
}
.small_form_text{
  margin-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.8;
}
.registration_specification{
  padding: 1rem;
  background: rgba(0,0,0,0.1);
}
.go_to_login_help{
  text-align: center;
  color: #27282e;
}
.go_to_login_link{
  display: inline-block;
  margin-left: 0.5rem;
  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
}
.locked_page_label{
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
  color: #27282e;
}
