html{
  font-family: cursive;
}

.body_style{
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #5661a4, #cce3ff);
}
.login_page{
  padding: 2rem 1rem;
  text-align: center;
}
.input_entry{
  margin: 0.5rem auto;
  width: 100%;
  max-width: 20rem;
  display: block;
}
.button{
  background: linear-gradient(45deg, #cdd0e7, #f6faff);
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  width: 90%;
  max-width: 17rem;
  margin: 2rem auto;
  user-select: none;
  box-shadow: #0000008a 0.4rem 0.4rem 0.4rem;
}
.button:hover{
  background: linear-gradient(45deg, #babdd3, #dfe3e8);
}
.button:active{
  background: linear-gradient(45deg, #a8aabe, #b2b6bb);
}
.title{
  font-size: 2rem;
  background-color: rgba(0,0,0,0.1);
  color: #2e4186;
  padding: 0.5rem;
}
.version{
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  margin-right: 1rem;
  font-size: 0.8rem;
  opacity: 0.8;
  font-family: monospace;
}
.travel_gif{
  margin-bottom: 1rem;
}
.modal_dialog_inkdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.modal_dialog{
	border-radius: 1rem;
	margin: 10em auto;
	background-color: white;
	width: 50vw;
	padding: 1em;
}
.modal_title{
  font-weight: bold;
  font-size: 1.3em;
  color: black;
}

.modal_button{
	display: inline-block;
  margin: 0 1em;
  color: black;
  font-weight: bold;
  border: 1px solid;
  padding: 0.1em 0.4em;
  min-width: 5em;
  text-align: center;
  cursor: pointer;
}

.api_spinner_backdrop{
    position: fixed;
    top: 0em;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.7;
    z-index: 15;
}

.api_spinner{
    position: fixed;
    margin: 0 auto;
    top: 10em;
    width: 7em;
    left: 3em;
    right: 0;
    height: 7em;
    border: 1em solid transparent;
    border-radius: 50%;
    border-bottom: 1em solid #3b3b9e;
    animation: spin 0.5s linear infinite;
    z-index: 15;
}

.noaccount{
  margin-top: 1rem;
  display: inline-block;
}

.register_label{
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid blue;
  color: blue;
  margin-left: 0.5rem;
}

.unknown_page_label{
  text-align: center;
  margin-top: 10rem;
  color: white;
}


@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
